.content {
    margin: 150px 0px;
    gap: 150px;
    .content__number {
        font-size: 288px;
    }
    .content__text {
        font-size: 36px;
    }
    .content__link {
        font-size: 18px;
    }
}


@media (max-width: 480px) {
    .content {
        margin: 100px 0px;
        gap: 100px;
        .content__number {
            font-size: 96px;
        }
        .content__text {
            font-size: 18px;
            padding: 0px 60px;
        }
        .content__link {
            font-size: 14px;
        }
    }
}