.collapse-list {
    width: 1023px;
    margin: 0 auto;
}

@media (min-device-width: 481px) and (max-device-width: 1025px) { 
    .collapse-list {
        width: 690px;
    }
}

@media (max-width: 480px) {
    .collapse-list {
        width: 335px;
    }
}

