.banner {
    display: flex;
    justify-content: center;
    #BackgroundHome {
        background-image: url(../assets/banner-home.svg);
    }
    #BackgroundAbout {
        background-image: url(../assets/banner-about.svg);
    }
    .banner--div {
        max-width: 1240px;
        min-width: 335px;
        width: 100%;
        height: 223px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin: 0px 20px;
        background-size: cover;
        background-position: center;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.55);
        .banner--text {
            color: white;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            font-size: 48px;
        }
    }
}

@media (max-width: 480px) {
    .banner {
        .banner--div {
            height: 111px;
            justify-content: left;
            border-radius: 10px;
            .banner--text {
                font-size: 24px;
                width: 225px;
            }
        }
    }
}

@media (max-width: 770px) {
    .banner {
        .banner--div {
            padding-left: 15px;
        }
    }
}

