.carrousel {
    width: clamp(335px, 90vw, 1240px);
    height: clamp(255px, 68vw, 415px);
    gap: clamp(90px, 24vw, 100px);
    border-radius: 25px;
    margin: auto;
    .carrousel--navbuttons {
        padding: 0px 25px;
        .carrousel--chevron {
            font-size: clamp(48px, 13vw, 156px);
        }
    }
    .carrousel--slidenumber {
        font-size: 18px;
        margin: 0;
        margin-bottom: 30px;
    }
}