.collapse--div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    .collapse--title--div {
        background-color: #FF6060;
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        .collapse--title--text {
            font-family: "Montserrat", sans-serif;
            color: white;
            font-weight: bold;
            font-size: 24px;
            margin-left: 20px;
        }
        .collapse--title--button_close, .collapse--title--button_open {
            background-color: transparent;
            border: none;
            margin-right: 20px;
            transition-duration: 0.5s;
        }
        .collapse--title--button_open {
            transform: rotate(180deg);
        }
    }
    .collapse--content--div_show {
        width: 100%;
        height: auto;
        transition-duration: 0.5s;
        .collapse--content--text_show {
            font-size: 18px;
            font-family: "Montserrat", sans-serif;
            margin: 25px;
        }
    }
    .collapse--content--div_hide, .collaspe--content--text_hide {
        height: 0px;
        overflow: hidden;
        transition-duration: 0.5s;
}}

@media (max-width: 1024px) {
    .collapse--div {
        margin-bottom: 20px;
        .collapse--title--div {
            width: 100%;
            height: 30px;
            .collapse--title--text {
                font-size: 13px;
            }
        }
        .collapse--content--div_show {
            width: 100%;
            height: 75px;
            .collapse--content--text_show {
                font-size: 12px;
                margin: 10px 25px;;
        }
    }
}}