.collapse__div {
    .collapse__title__div {
        height: clamp(30px, 8vw, 52px);
        border-radius: 5px;
        padding: 0 20px;
        .collapse__title__text {
            font-size: clamp(13px, 3.5vw, 24px);
        }
        .collapse__title__button_close, .collapse__title__button_open {
            background-color: transparent;
            border: none;
            transition-duration: 0.5s;
            width: clamp(30px, 8vw, 40px);
            height: clamp(30px, 8vw, 40px);
        }
        .collapse__title__button_open {
            transform: rotate(180deg);
        }
    }
    .collapse__content__div_show {
        height: auto;
        transition-duration: 0.5s;
        .collapse__content__text_show {
            font-size: clamp(12px, 3.2vw, 18px);
            margin: clamp(10px, 2.75vw, 25px) 25px;
        }
    }
    .collapse__content__div_hide, .collapse__content__text_hide {
        height: 0px;
        overflow: hidden;
        transition-duration: 0.5s;
}}