.content__div {
    margin: clamp(100px, 26.75vw, 150px) 0px;
    gap: clamp(100px, 26.75vw, 150px);
    .content__number {
        font-size: clamp(96px, 25vw, 288px);
    }
    .content__text {
        font-size: clamp(18px, 4.8vw, 36px);
        padding: 0px 60px;
    }
    .content__link {
        font-size: clamp(14px, 2vw, 18px);
    }
}
