.footer {
    margin-top: clamp(20px, 5.5vw, 50px);
    .footer--div {
        height: 210px;
    .footer--logo {
        height: 40px;
    }
    .footer--text {
        font-size: clamp(12px, 3.2vw, 24px);
        margin: 40px 0 30px 0;
    }
    }
}

@media (max-width: 480px) {
    .footer {
        .footer--div {
            .footer--text {
                margin: 10px auto 60px auto; 
                width: 100px;
            }
        }
    }
}

