:root {

    --clr-red:   #FF6060;
    --clr-black: #000000;
    --clr-white: #FFFFFF;
    --clr-grey:  #F6F6F6;

}

body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    p, a {
        margin: 0px;
        font-family: "Montserrat", sans-serif;
    }
}

a:-webkit-any-link {
    color: black;
    text-decoration: none;
}

/* Composition */

    /* Display */

        .none {
            display: none;
        }

        .flex-row {
            display: flex;
        }

        .flex-row-reverse {
            display: flex;
            flex-direction: row-reverse;
        }

        .flex-column {
            display: flex;
            flex-direction: column;
        }

        .flex-column-reverse {
            display: flex;
            flex-direction: column-reverse;
        }

        /* Mobile */

            @media (max-width: 480px) {

                .mobile-none {
                    display: none;
                }

                .mobile-flex-row {
                    display: flex;
                    flex-direction: row;
                }
            
                .mobile-flex-row-reverse {
                    display: flex;
                    flex-direction: row-reverse;
                }
            
                .mobile-flex-column {
                    display: flex;
                    flex-direction: column;
                }
            
                .mobile-flex-column-reverse {
                    display: flex;
                    flex-direction: column-reverse;
                }

            }

    /* Justify Content */

        .justify-left {
            justify-content: left;
        }

        .justify-center {
            justify-content: center;
        }

        .justify-right {
            justify-content: right;
        }

        .justify-between {
            justify-content: space-between;
        }

        .justify-around {
            justify-content: space-around;
        }

        .justify-end {
            justify-content: flex-end;
        }

        .justify-start {
            justify-content: flex-start;
        }

        /* Mobile */

        @media (max-width: 480px) {

        .mobile-justify-left {
            justify-content: left;
          }
          
          .mobile-justify-center {
            justify-content: center;
          }
          
          .mobile-justify-right {
            justify-content: right;
          }
          
          .mobile-justify-between {
            justify-content: space-between;
          }
          
          .mobile-justify-around {
            justify-content: space-around;
          }
          
          .mobile-justify-end {
            justify-content: flex-end;
          }
          
          .mobile-justify-start {
            justify-content: flex-start;
          }

        }

    /* Align Items */

        .align-item-center {
            align-items: center;
        }

/* Utility */

    /* Text Color */

        .text-color-red {
            color: var(--clr-red);
        }

        .text-color-black {
            color: var(--clr-black);
        }

        .text-color-white {
            color: var(--clr-white);
        }

        .text-color-grey {
            color: var(--clr-grey);
        }

    /* Text Align */

        .text-align-left {
            text-align: left;
        }

        .text-align-center {
            text-align: center;
        }

        .text-align-right {
            text-align: right;
        }

    /* Font Weight */

        .font-weight-500 {
            font-weight: 500;
        }

        .font-weight-700 {
            font-weight: 700;
        }

    /* Background-color */

        .background-color-red {
            background-color: var(--clr-red);
        }

        .background-color-black {
            background-color: var(--clr-black);
        }

        .background-color-white {
            background-color: var(--clr-white);
        }

        .background-color-grey {
            background-color: var(--clr-grey);
        }