#root {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    .global {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1440px;
        min-width: 375px;
        width: 100%;
    }
}

body {
    margin: 0;
}