.sheet--content {
    gap: 15px;
    .sheet--datas {
        gap: 15px;
        width: clamp(335px, 90vw, 1240px);
        .sheet--infos {
            row-gap: 15px;
            .sheet--leftcolumn {
                gap: clamp(10px, 2.75vw, 20px);
                .title--div {
                    gap: 5px;
                    .sheet--title {
                        font-size: clamp(18px, 4.8vw, 36px);
                    }
                    .sheet--localisation {
                        font-size: clamp(14px, 3.75vw, 18px);
                    }
                }
                .tags--div {
                    gap: 10px;
                    .sheet--tag {
                        padding: 2px 20px;
                        height: 25px;
                        border-radius: 10px;
                        font-size: clamp(10px, 2.75vw, 14px);
                    }
                }
            }
            .sheet--rightcolumn {
                gap: 15px;
                .sheet--hostinfos {
                    gap: 15px;
                    .sheet--hostname {
                        font-size: clamp(12px, 3.2vw, 18px);
                        width: 75px;
                        border: none;
                    }
                    .sheet--hostpicture {
                        width: clamp(32px, 8.5vw, 64px);
                        height: clamp(32px, 8.5vw, 64px);
                        border-radius: 100px;
                    }
                }
                .sheet--rating {
                    gap: 15px;
                }
        
            }
        }
        .sheet--collapsesection {
            margin-top: 15px;
            column-gap: 75px;
            .collapse {
                width: 582px;
            }
        }
    }
}

@media (max-width: 1024px ) {
    .sheet--content {
        .sheet--datas {
            .sheet--collapsesection {
                flex-wrap: wrap;
                row-gap: 20px;
                .collapse {
                    width: 100%;
                }
            }
        }
    }
}